<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccesoUPV.Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AccesoUPV.Lib.Properties.Settings>
            <setting name="VPN_UPVName" serializeAs="String">
                <value />
            </setting>
            <setting name="VPN_DSICName" serializeAs="String">
                <value />
            </setting>
            <setting name="WDriveLetter" serializeAs="String">
                <value />
            </setting>
            <setting name="WDriveDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="DSICDriveLetter" serializeAs="String">
                <value />
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="DSICDrivePassword" serializeAs="String">
                <value />
            </setting>
        </AccesoUPV.Lib.Properties.Settings>
    </userSettings>
</configuration>